@import "compass"
@import "type"

$padding-x: 15px
$padding-y: $leading
$sideW: 300px
$side2W: $sideW
$border: 1px #eee solid

ul
	padding: 0
	list-style: none

.page-edit
	.side,
	.side-2
		background: #fff
		position: absolute
		top: 0
		left: 0
		bottom: 0
		box-sizing: border-box
		border-right: $border
	.side
		z-index: 2
		width: $sideW
		padding: $padding-y/2 0
	.logo
		padding: 0 $padding-x $padding-y/2
	.types,
	.theme-curr
		padding: $padding-y/2 $padding-x
	.logo,
	.theme-curr
		border-bottom: $border
	.side-2
		z-index: 1
		left: $sideW
		width: $side2W
		+translateX(-100%)
		+single-transition(transform, .35s)
		&.show
			+translateX(0)
	.theme
		padding: $padding-y/2 $padding-x
	.theme-img
		width: 100%
	.blocks-temp
		display: none
	.block
		margin: $padding-y/2 0
	.block-img
		width: 100%
	.main
		padding: $padding-y/2 0 $padding-y/2 $sideW
	.title
		margin-left: -$padding-x
		margin-right: -$padding-x
		padding: 0 $padding-x $padding-y/2
		border-bottom: $border