@import "compass"

$padding: 15px

.block-img
	width: 100%

.preview-list
	height: 200px
	background-color: #ccc
	.block-img
		width: 100%

.page-edit-side
	min-height: calc(100vh - 70px)
	background-color: #111
	padding: $padding

	