@import "compass"
@import "type"
@import "land"

$padding-x: 15px
$padding-y: $leading/2
$sideW: 300px
$side2W: $sideW
$border: 1px #eee solid
$highlight: #e74c3c
$bgColor: #fff

ul.app-ui,
.app-ui ul 
	padding: 0
	list-style: none
	
.app-ui .btn-action
	+link-colors(#fff, #fff, #fff, #fff, #fff)
	background-color: $highlight
	border-color: $highlight
	font-weight: bold
	&:hover
		background-color: adjust-lightness($highlight, 5)
		border-color: adjust-lightness($highlight, 5)

.page-edit
	min-height: 100vh
	background-color: $bgColor
	.side,
	.side-2
		background: #fff
		position: fixed
		top: 0
		left: 0
		bottom: 0
		box-sizing: border-box
		border-right: $border
	.side
		z-index: 2
		width: $sideW
	.logo
		color: $highlight
		padding: $padding-y $padding-x
	.types
		height: calc(100vh - 98px)
		overflow-x: hidden
		overflow-y: scroll
		padding: $padding-y $padding-x 0
	.delete
		position: absolute
		height: calc(100vh - 98px)
		bottom: 0
		left: 0
		right: 0
		z-index: 3
		background-color: #4d4d4d
		display: none
		&.active
			background-color: $highlight
		.material-icons
			font-size: 48px
			color: #fff
			position: absolute
			top: 50%
			left: 50%
			+translate(-50%, -50%)
	.logo,
	.theme-curr
		border-bottom: $border
	.theme-curr
		padding: $padding-y $padding-x
	.theme-curr-name
		color: $highlight
	.side-2
		height: 100vh
		overflow-x: hidden
		overflow-y: scroll
		z-index: 1
		left: $sideW
		width: $side2W
		+translateX(-100%)
		+single-transition(transform, .35s)
		&.show
			+translateX(0)
	.theme
		&:hover
			cursor: pointer
		padding: $padding-y $padding-x
	.theme-img
		width: 100%
	.blocks-temp
		display: none
	.block
		margin: $padding-y 0
	.block-img
		position: relative
		z-index: 2
		width: 100%
	.main
		padding: 0 0 0 $sideW
	.title
		background: #fff
		margin-left: -$padding-x
		margin-right: -$padding-x
		padding: $padding-y $padding-x
		border-bottom: $border
	.title .btn-actions
		position: absolute
		right: $padding-x
		top: $padding-y
		margin-top: -3px
		margin-right: -9px
	.preview
		padding: 80px 0
		margin-left: -$padding-x
		margin-right: -$padding-x
		.block-img
			z-index: 0
	&.page-edit-content .preview
		padding: 0
	.preview-html,
	.preview-list
		margin: 0 auto
		position: relative
	.preview-list
		background: #fff
		max-width: 600px
		min-height: 400px
		margin-bottom: 0
		box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2)
		border: $border
	.preview-html
		display: none
		border: 0
		width: 100%
		overflow-x: hidden
	&.page-edit-content .preview-html
		display: block
	.preview-empty
		position: absolute
		top: 50%
		left: 50%
		+translate(-50%, -50%)
		text-transform: uppercase
	.edit
		height: calc(100vh - 49px)
		overflow-y: scroll
	.edit-block
		padding: $padding-y $padding-x
		border-bottom: $border
		&:last-child
			border-bottom: 0
	.field-title
		margin-top: $padding-y
		font-weight: 500
		&:first-child
			margin-top: 0
	.field-helper
		color: #999
	.field-input
		width: 100%
		margin: 3px 0
	input.textarea
		height: $leading * 3