/*! Typebase.less v0.1.0 | MIT License */
/* Setup */
/* line 17, ../sass/_type.sass */
html {
  /* Change default typefaces here */
  font-family: "Helvetica Neue";
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
}

/* line 32, ../sass/_type.sass */
.app-ui {
  /* Copy & Lists */
  /* Headings */
  /* Tables */
  /* Code blocks */
  /* Leading paragraph text */
  /* Hug a the block above you */
}
/* line 34, ../sass/_type.sass */
.app-ui p, .app-ui ul {
  font-size: 100%;
}
/* line 38, ../sass/_type.sass */
.app-ui p {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0;
}
/* line 42, ../sass/_type.sass */
.app-ui p:first-child {
  margin-top: 0;
}
/* line 45, ../sass/_type.sass */
.app-ui ul, .app-ui ol {
  margin-top: 0;
  margin-bottom: 0;
}
/* line 48, ../sass/_type.sass */
.app-ui ul li, .app-ui ol li {
  line-height: 1.5rem;
}
/* line 50, ../sass/_type.sass */
.app-ui ul ul, .app-ui ul ol, .app-ui ol ul, .app-ui ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
/* line 54, ../sass/_type.sass */
.app-ui blockquote {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
/* line 60, ../sass/_type.sass */
.app-ui h1, .app-ui h2, .app-ui h3, .app-ui h4, .app-ui h5, .app-ui h6 {
  /* Change heading typefaces here */
  font-family: "Helvetica Neue";
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5rem;
}
/* line 67, ../sass/_type.sass */
.app-ui h1 {
  font-size: 1rem;
}
/* line 69, ../sass/_type.sass */
.app-ui h2 {
  font-size: 1rem;
  font-weight: normal;
}
/* line 72, ../sass/_type.sass */
.app-ui h3 {
  font-size: 1.414rem;
}
/* line 74, ../sass/_type.sass */
.app-ui h4 {
  font-size: 0.707rem;
}
/* line 76, ../sass/_type.sass */
.app-ui h5 {
  font-size: 0.47133rem;
}
/* line 78, ../sass/_type.sass */
.app-ui h6 {
  font-size: 0.3535rem;
}
/* line 82, ../sass/_type.sass */
.app-ui table {
  margin-top: 1.5rem;
  border-spacing: 0px;
  border-collapse: collapse;
}
/* line 87, ../sass/_type.sass */
.app-ui table td, .app-ui table th {
  padding: 0;
  line-height: 21px;
}
/* line 92, ../sass/_type.sass */
.app-ui code {
  vertical-align: bottom;
}
/* line 97, ../sass/_type.sass */
.app-ui .lead {
  font-size: 1.414rem;
}
/* line 101, ../sass/_type.sass */
.app-ui .hug {
  margin-top: 0;
}

/* line 11, ../sass/site.sass */
ul.app-ui,
.app-ui ul {
  padding: 0;
  list-style: none;
}

/* line 16, ../sass/site.sass */
.app-ui .btn-action {
  color: #fff;
  background-color: #e74c3c;
  border-color: #e74c3c;
  font-weight: bold;
}
/* line 18, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
.app-ui .btn-action:visited {
  color: #fff;
}
/* line 21, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
.app-ui .btn-action:focus {
  color: #fff;
}
/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
.app-ui .btn-action:hover {
  color: #fff;
}
/* line 27, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
.app-ui .btn-action:active {
  color: #fff;
}
/* line 21, ../sass/site.sass */
.app-ui .btn-action:hover {
  background-color: #ea6153;
  border-color: #ea6153;
}

/* line 26, ../sass/site.sass */
.page-edit .side,
.page-edit .side-2 {
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  box-sizing: border-box;
  border-right: 1px #eee solid;
}
/* line 35, ../sass/site.sass */
.page-edit .side {
  z-index: 2;
  width: 300px;
  padding: 0.75rem 0;
}
/* line 39, ../sass/site.sass */
.page-edit .logo {
  padding: 0 15px 0.75rem;
}
/* line 41, ../sass/site.sass */
.page-edit .types,
.page-edit .theme-curr {
  padding: 0.75rem 15px;
}
/* line 44, ../sass/site.sass */
.page-edit .logo,
.page-edit .theme-curr {
  border-bottom: 1px #eee solid;
}
/* line 47, ../sass/site.sass */
.page-edit .theme-curr-name {
  color: #e74c3c;
}
/* line 49, ../sass/site.sass */
.page-edit .side-2 {
  z-index: 1;
  left: 300px;
  width: 300px;
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -moz-transition: -moz-transform 0.35s;
  -o-transition: -o-transform 0.35s;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
}
/* line 55, ../sass/site.sass */
.page-edit .side-2.show {
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
/* line 57, ../sass/site.sass */
.page-edit .theme {
  padding: 0.75rem 15px;
}
/* line 59, ../sass/site.sass */
.page-edit .theme-img {
  width: 100%;
}
/* line 61, ../sass/site.sass */
.page-edit .blocks-temp {
  display: none;
}
/* line 63, ../sass/site.sass */
.page-edit .block {
  margin: 0.75rem 0;
}
/* line 65, ../sass/site.sass */
.page-edit .block-img {
  position: relative;
  z-index: 2;
  width: 100%;
}
/* line 69, ../sass/site.sass */
.page-edit .main {
  padding: 0.75rem 0 0 300px;
}
/* line 71, ../sass/site.sass */
.page-edit .title {
  margin-left: -15px;
  margin-right: -15px;
  padding: 0 15px 0.75rem;
  border-bottom: 1px #eee solid;
}
/* line 76, ../sass/site.sass */
.page-edit .get-html {
  position: absolute;
  right: 15px;
  top: 0.75rem;
  margin-top: -3px;
  margin-right: -9px;
}
/* line 82, ../sass/site.sass */
.page-edit .preview {
  margin-left: -15px;
  margin-right: -15px;
}
/* line 85, ../sass/site.sass */
.page-edit .preview .block-img {
  z-index: 0;
}
/* line 87, ../sass/site.sass */
.page-edit .preview-html,
.page-edit .preview-list {
  min-height: calc(100vh - 49px);
  position: relative;
}
/* line 91, ../sass/site.sass */
.page-edit .preview-list {
  margin-bottom: 0;
}
/* line 93, ../sass/site.sass */
.page-edit .preview-html {
  border: 0;
  width: 100%;
  overflow-x: hidden;
}
/* line 97, ../sass/site.sass */
.page-edit .preview-empty {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-transform: uppercase;
}
