/* line 7, ../sass/site.sass */
.block-img {
  width: 100%;
}

/* line 10, ../sass/site.sass */
.preview-list {
  height: 200px;
  background-color: #ccc;
}
/* line 13, ../sass/site.sass */
.preview-list .block-img {
  width: 100%;
}

/* line 16, ../sass/site.sass */
.page-edit-brand,
.page-edit-side {
  background-color: #111;
  color: #fff;
  padding: 15px;
}

/* line 22, ../sass/site.sass */
.page-edit-blocks {
  display: none;
}
